[submodule "plugin/slicer_granular"]
	path = plugin/slicer_granular
	url = https://github.com/nvssynthesis/slicer_granular.git
[submodule "plugin/delaunator-cpp"]
        path = plugin/delaunator-cpp
        url = https://github.com/nvssynthesis/delaunator-cpp.git
[submodule "tsn-analyzer"]
	path = tsn-analyzer
	url = https://github.com/nvssynthesis/tsn-analyzer.git
