.DS_Store
Builds/
# xcode build directory
build/

..bfg-report/
JuceLibraryCode/
.vscode/
.idea/
cmake-build-debug/
mason_packages/

# CMake-managed dependency (gets cloned and built by CMakeLists.txt)
plugin/essentia/

.clang-format